// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// IMMAGINI

img {
    width: 100%;
}


// WRAPPER 
.wrapper {
    max-width: 65%;
    margin: auto;
}

// FONT

body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

// 2. SECTION WITH GREY BG COLOR

.sect_grey_bg {
    background-color: $brand_color_bg_grey;
    text-align: center;
    padding: 60px 0;

    p {
        color: $brand_color_text_grey;
        width: 34%;
        margin: auto;
        font-weight: 300;
        padding-top: 20px;
        letter-spacing: 2px;
        font-size: 18px;
    }
}

h3 {
    color: $brand_color_small_title;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
}

.sect_title {
    padding: 60px 0;
    text-align: center;
    position: relative;

    h3 {
        text-transform: uppercase;
    }
    
    h2 {
        padding: 15px 0;
        font-size: 35px;
    }

    .divisory {
        background-color: $brand_color_divisory;
        height: 2px;
        width: 60px;
        margin: 15px 0;
        position: absolute;
        left: 48%;
    }
}