// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// IMMAGINI

img {
    width: 100%;
}


// WRAPPER 
.wrapper {
    max-width: 65%;
    margin: auto;
}

// FONT

body {
    font-family: 'Fira Sans', sans-serif;
}


// 2. SECTION WITH GREY BG COLOR

.sect_grey_bg {
    background-color: $brand_color_bg_grey;
    text-align: center;
    padding: 90px 0;

    p {
        color: $brand_color_grey_md;
        width: 50%;
        margin: auto;
        font-weight: 300;
        padding-top: 20px;
        letter-spacing: 2px;
        font-size: 30px;
    }

    h5 {
        padding-top: 0;
        font-size: 30px;
    }
}

hr {
    color: $brand_color_border_footer;
}

h2 {
    color: $brand_color_text_white;
    padding-top: 20px;
    font-size: 26px;

}
h3 {
    color: $brand_color_small_title;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 15px;
}

h4 {
    color: $brand_color_text_white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h5 {
    color: $brand_color_linkto;
    font-weight: 400;
    font-size: 20px;
    padding: 40px 0px 25px 0px;
}

h6 {
    color: $brand_color_linkto;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.sect_title {
    padding: 50px 0;
    text-align: center;
    position: relative;

    h3 {
        text-transform: uppercase;
    }
    
    h2 {
        color: $brand_color_linkto;
        padding: 15px 0;
        font-size: 48px;
    }

    .divisory {
        background-color: $brand_color_divisory;
        height: 2px;
        width: 60px;
        margin: 15px 0;
        position: absolute;
        left: 48%;

        &:nth-child(2) {
            left: 15px;
        }
        
    }
}

// SECTION WITH 3 IMAGES AND DESCRIPTION

.sect_images {
    display: flex;
    padding-top: 30px;
    .one-pic-description:nth-child(2) {
        padding: 0px 20px;

    }

    .description {
        padding-top: 10px;
        color: $brand_color_text_grey;

        h5 {
            font-weight: 700;
            padding: 0px 0px 5px 0px;
        }

        span, p {
            font-size: 12px;
        }

        p {
            padding-top: 12px;
            line-height: 21px;
        }
    }
}

// SECTION "FORUM SECTIONS"

.tabs {
    padding-top: 80px;
    ul {
        list-style-type: none;
        display: flex;
        width: 77%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            
            width: calc((100% / 4) - 20px ) ;
            height: 180px;
            background-color: #ffffff;
            border-top: 2px solid #399bc0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 30px;
            
            
            i {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #fc8c5e;
                position: absolute;
                top: 20%;
                font-size: 35px;
                line-height: 57px;
                color: $brand_color_text_white;
                
            }

            span {
                font-size: 18px;
                padding-top: 65px;

                &:hover {
                    transition: color 0.2s;
                    color: $brand_color_onhover;
                }
            }
            

        }
    }
}