// FOOTER

// SECTION FOOTER (2)
.sect_footer {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;

    .left-col {
        display: flex;
        flex-direction: column;
        width: 25%;
        p {
            color: $brand_color_text_grey;
            line-height: 20px;
            font-size: 12px;
            
        }
    }

    ul {
        list-style-type: none;
        width: 20%;
        li {
            display: grid;
            a {
                text-decoration: none;
                color: $brand_darker_color;
                border-bottom: 1px solid $brand_color_border_footer;
                font-size: 12px;
                line-height: 20px;
                padding: 5px 0;

                &:hover {
                    color: $brand_header_color;
                }
            }
        }

        
        
    }

    p {
        color: $brand_color_text_grey;
        font-size: 12px;
        span {
            color: $brand_darker_color;
        }
    }

    // ICONS (LAST SECTION IN FOOTER)
    .icons {
        ul {
            list-style-type: none;
            display: flex;
            width: 100%;
            li {
                display: flex;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                margin: 0px 5px;

                &:first-child {
                    background-color: $brand_color_facebook;
                }
                &:nth-child(2) {
                    background-color: $brand_color_twitter;
                }
                &:nth-child(3) {
                    background-color: $brand_color_instagram;
                }
                &:nth-child(4) {
                    background-color: $brand_color_youtube;
                }
                a {
                    color: $brand_color_text_white;
                    border-bottom: none;
                    font-size: 20px;
                }
            }
        }
    }

    &.last {
        align-items: center;
    }
}

