// HEADER

header {
    background-color: $brand_header_color;
    opacity: 0.9;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .square {
        background-color: $brand_header_color;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        position: absolute;
        left: 50%;
        top: 87%;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        .logo {
            display: inline-block;
            
            img {
                padding: 15px;
                width: 230px;
            }
        } 
    
        nav {
            display: flex;
            align-items: center;
            font-size: 15px;
            ul {
                list-style-type: none;
                li {
                    margin: 0px 25px;
                    a {
                        color: $brand_color_text_white;
                        text-decoration: none;
                    }
                }
            }

            i {
                color: $brand_color_text_white;
                padding-left: 30px ;
            }
        }
    }
}