// 1. JUMBOTRON 

.jumbotron {
    position: relative;

    .square {
        background-color: $brand_header_color;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        position: absolute;
        left: 50%;
        bottom: 99%;
        
    }

    .jumbo_text {
        position: absolute;
        top: 30%;
        left: 18%;
        color: $brand_color_text_white;

        h1 {
            font-size: 150px;
            
        }

        p {
            padding: 30px 0;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 2px;
        }

        button i {
            padding-left: 10px;
        }
    }
}

// 2. SECTION WITH GREY BG COLOR

.sect_grey_bg {

}