// 1. JUMBOTRON 

.jumbotron {
    position: relative;

    .square {
        background-color: $brand_header_color;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        position: absolute;
        left: 50%;
        bottom: 99%;
        
    }

    p {
        font-size: 10px;
    }

    &.scd-jumb {
        padding-top: 45px;
        .jumbo_text {
            left: 8%;
            top: 45%;
        
            p {
                font-size: 13px;
                width: 80%;
            }
        }
    }
    
}

