.black_bg {
    background-color: $brand_darker_color;
    color: $brand_color_text_white;
    text-transform: uppercase;
    padding: 12px 22px;
    border: none;
    font-size: 13px;
    border-radius: 2px;
    font-weight: 700;

    &.larger {
        padding: 12px 75px;
        margin-left: 20px;
    }
}

.blue_bg {
    background-color: $brand_buttons_color;
    color: $brand_color_text_white;
    text-transform: uppercase;
    padding: 14px 22px;
    border: none;
    font-size: 13px;
    border-radius: 2px;
    font-weight: 700;
}

// JUMBOTRON

.jumbotron {
    .jumbo_text {
        position: absolute;
        top: 30%;
        left: 18%;
        color: $brand_color_text_white;

        h1 {
            font-size: 150px;
            
        }

        p {
            padding: 30px 0;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 2px;
        }

        button i {
            padding-left: 10px;
        }
    }
}

// LINK TO BLOG / LINK TO FORUM 

.link-to {
    color: $brand_color_text_white;
    background-color: $brand_color_linkto;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0;
    font-size: 15px;
    font-weight: 700;
    i {
        padding-left: 10px;
    }
}