// color buttons + header
$brand_buttons_color: #27aabe;
$brand_header_color: #27aabe;

// color buttons (black)
$brand_darker_color: #1a1b1b;

// color buttons (black to orange) on hover
$brand_color_onhover : #fc8c5e;

// color text medium grey
$brand_color_grey_md : #62676c;


// color text (white)
$brand_color_text_white: #ffffff;

// color small titles
$brand_color_small_title: #3b3d3f;

// color text (light grey)
$brand_color_text_grey: #969799;

// color grey background sections
$brand_color_bg_grey: #f2f2f2;

// color divisory
$brand_color_divisory : #fc8c5e;

// color section: link to
$brand_color_linkto : #202325;

// color border top
$brand_color_border_top : #399bc0;

// color border bottom footer
$brand_color_border_footer : #aeaeae;

// color icon facebook 
$brand_color_facebook : #4562b0;

// color twitter 
$brand_color_twitter : #399bc0;

// colore instagram 
$brand_color_instagram : #516faa;

// colore youtube
$brand_color_youtube : #951a0c;