// colore buttons + header
$brand_buttons_color: #27aabe;
$brand_header_color: #27aabe;

// colore buttons (nero)
$brand_darker_color: #1a1b1b;

// colore testo (bianco)
$brand_color_text_white: #ffffff;

// colore titoli piccoli
$brand_color_small_title: #3b3d3f;

// colore testo (grigio chiaro)
$brand_color_text_grey: #969799;

// colore sfondo sezioni (grigio)
$brand_color_bg_grey: #f2f2f2;

$brand_color_divisory : #fc8c5e;