// colore buttons + header
$brand_buttons_color: #27aabe;
$brand_header_color: #27aabe;

// colore buttons (nero)
$brand_darker_color: #1a1b1b;

// colore testo (bianco)
$brand_color_text_white: #ffffff;

// colore titoli piccoli
$brand_color_small_title: #62676c;

// colore testo (grigio chiaro)
$brand_color_text_grey: #aeaeae;